html, body {
    height: 100%;
    width: 99%;
}
body{
    background-color: black;
    color: #dedede;
}

button{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    border-radius: 12px;
}

button:hover{
    background-color: black;
    color: #dedede;
}

/*====== Classes =========*/
/*Unrelated*/
.attacks{
    padding: 20px;
    padding-top: 25px;
    padding-left: 50px;
}

.button{
    height: 50px;
    width: 200px;
    font-family: "Raleway", sans-serif;
}


.header{
    height: 130px;
    width: 101%;
    font-family: "Raleway", sans-serif;
    background-color: ;
    outline-style: solid;
    outline-width: medium;
    outline-color: #dedede;
}

/*header classes*/

/*health*/
.healthText{
    float: left;
    padding: 25px 0 0 30px;
}

.healthBarContainer{
    float: left;
    display: inline-block;
    padding-top: 80px;
    width: 40%;
}

.healthOutline{
    outline-style: solid;
    outline-color: #dedede;
    outline-width: medium;
    height: 10px;
    width: 33.5%;
}

.healthDisplay{
    height: 10px;
    width: 100%;
    background-color: green;
}

/*enemyHealth*/
.enemyHealthText{
    float: right;
    padding: 25px 30px 0 30px;
}

.enemyHealthBarContainer{
    float: right;
    width: 40%;
}

.enemyHealthOutline{
    float: right;
    outline-style: solid;
    outline-color: #dedede;
    outline-width: medium;
    height: 10px;
    width: 33.5%;
}

.enemyHealthDisplay{
    float: right;
    height: 10px;
    width: 100%;
    background-color: red;
}
/*=============================================*/

.main{
    height: 100vh;
    width: 101%;
    background-image: url("/images/CaveBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
    background-repeat: no-repeat;
}

/*main classes*/

.mainBG{
    height: 100%;
    width: 100%;

}

.actionContainer{
    padding-top: 31.5%;
    padding-left: 25%;
    padding-right: 25%;
}
/*Knight States*/

.knightIdle{
    height: 370px;
    width: 500px;
    margin-left: 200px;
    margin-top: 200px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Idle%20Trans.gif);
    background-size: 500px;
    background-repeat: no-repeat;
}

.knight2Idle{
    height: 370px;
    width: 400px;
    float: right;
    margin-right: 200px;
    margin-top: 220px;
    background-image: url(/images/KnightTwoStates/Knight2%20Idle%20Trans.gif);
    background-size: 400px;
    background-repeat: no-repeat;
}

.knightAttack{
    height: 370px;
    width: 520px;
    margin-left: 200px;
    margin-top: 200px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Attack%20Trans.gif);
    background-size: 530px;
    background-repeat: no-repeat;
    animation: 1s linear backAndForthOne;
}

.knight2Attack{
    height: 410px;
    width: 500px;
    float: right;
    margin-right: 90px;
    margin-top: 150px;
    background-image: url(/images/KnightTwoStates/Knight2%20Attack%20Trans.gif);
    background-size: 420px;
    background-repeat: no-repeat;
    animation: 1s linear backAndForthTwo;
}

.knightDie{
    height: 420px;
    width: 520px;
    margin-left: 200px;
    margin-top: 190px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Die%20Trans.gif);
    background-size: 580px;
    background-repeat: no-repeat;
}

.knight2Die{
    height: 410px;
    width: 530px;
    float: right;
    margin-right: 100px;
    margin-top: 200px;
    background-image: url(/images/KnightTwoStates/Knight2%20Die%20Trans.gif);
    background-size: 550px;
    background-repeat: no-repeat;
}

/*End Knight States*/

.actionBox{
    height: 100px;
    align-self: center;
    background-color: rgba(255, 255, 255, .2);
}

.game-overWin{
    height: 99%;
    width: 99%;
}

.victory{
    font-family: "Raleway", sans-serif;
    padding-top: 400px;
    padding-bottom: 400px;
    font-size: 100px;
    text-align: center;
    animation: fadeIn;
}

/*======== Animations ========*/

@keyframes backAndForthOne {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes backAndForthTwo {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

/*=============================================*/