/*============================================= Beginning of Fight Sequence =============================================*/

html, body {
    height: 100%;
    width: 99%;
}
body{
    background-color: black;
    height: 10vh;
    width: 99.4%;
    background-image: url("/images/Forest%20Pixel%20BG.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    display: table;
    background-repeat: no-repeat;
    color: #dedede;
}

button{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    border-radius: 12px;
    position: static;
}

button:hover{
    background-color: black;
    color: #dedede;
}

a:hover{
    color: red;
}

/*============================================= Beginning of Fight Sequence =============================================*/
/*====== Classes =========*/
/*Unrelated*/
.attacks{
    padding: 20px;
    padding-top: 25px;
    padding-left: 50px;
}

.button{
    height: 50px;
    width: 200px;
    font-family: "Raleway", sans-serif;
}

.potions{
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.potionContainer{
    height: 80px;
    width: 80px;
    margin-left: 1px;
    background-image: url("/images/Items/Health%20Potion.png");
    background-size: cover;
    
    
}

.continue{
    display: inline-block;
    height: 50px;
    width: 200px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-left: 845px;
    margin-bottom: 30px;
    font-size: 20px;
    position: static;
    outline-style: solid;
    animation: 2s linear infinite blink;
}

.gameOver{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    height: -20em;
    margin-left: 840px;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 10px;
    position: static;
    text-decoration: none;
    color: #dedede;
    outline-style: solid;
    animation: 3s linear infinite blinkFull;
}

.continueContainer{
    position: static;
    height: -60em;
}

/*======== End ========*/

.header{
    height: 130px;
    width: 101%;
    font-family: "Raleway", sans-serif;
    background-color: rgba(0,0,0,.5);
    outline-style:double;
    outline-width: thick;
    outline-color: rgba(255, 255, 255, .5);
    border-radius: 12px;
}

/*header classes*/

/*health*/
.healthText{
    float: left;
    padding: 25px 0 0 30px;
}

.healthBarContainer{
    float: left;
    display: inline;
    padding-top: 61px;
    padding-left: 15px;
    width: 40%;
}

.healthOutline{
    outline-style: solid;
    outline-color: #dedede;
    outline-width: medium;
    height: 10px;
    width: 33.5%;
}

.healthDisplay{
    height: 10px;
    width: 100%;
    background-color: green;
}

/*enemyHealth*/
.enemyHealthText{
    float: right;
    padding: 30px 30px 0 30px;
}

.enemyHealthBarContainer{
    float: right;
    display: inline-block;
    padding-top:;
    padding-right:;
    width: 40%;
}

.enemyHealthOutline{
    float: right;
    outline-style: solid;
    outline-color: #dedede;
    outline-width: medium;
    height: 10px;
    width: 33.5%;
}

.enemyHealthDisplay{
    float: right;
    height: 10px;
    width: 100%;
    background-color: red;
}
/*=============================================*/

/*main classes*/

.mainBG{
    height: 100%;
    width: 100%;

}

.actionContainer{
    padding-left: 25%;
    padding-right: 25%;
    position: static;
}
/*Knight States*/

.knightIdle{
    height: 370px;
    width: 500px;
    margin-left: 200px;
    margin-top: 200px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Idle%20Trans.gif);
    background-size: 500px;
    background-repeat: no-repeat;
}

.knight2Idle{
    height: 370px;
    width: 400px;
    float: right;
    margin-right: 200px;
    margin-top: 220px;
    background-image: url(/images/KnightTwoStates/Knight2%20Idle%20Trans.gif);
    background-size: 400px;
    background-repeat: no-repeat;
}

.knightAttack{
    height: 370px;
    width: 520px;
    margin-left: 200px;
    margin-top: 200px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Attack%20Trans.gif);
    background-size: 530px;
    background-repeat: no-repeat;
    animation: 1s linear backAndForthOne;
}

.knight2Attack{
    height: 410px;
    width: 500px;
    float: right;
    margin-right: 90px;
    margin-top: 150px;
    margin-bottom: 30px;
    background-image: url(/images/KnightTwoStates/Knight2%20Attack%20Trans.gif);
    background-size: 420px;
    background-repeat: no-repeat;
    animation: 1s linear backAndForthTwo;
    position: static;
}

.knightDie{
    height: 420px;
    width: 520px;
    margin-left: 200px;
    margin-top: 190px;
    float: left;
    background-image: url(/images/KnightOneStates/Knight%20Die%20Trans.gif);
    background-size: 580px;
    background-repeat: no-repeat;
}

.knight2Die{
    height: 410px;
    width: 530px;
    float: right;
    margin-right: 100px;
    margin-top: 200px;
    background-image: url(/images/KnightTwoStates/Knight2%20Die%20Trans.gif);
    background-size: 550px;
    background-repeat: no-repeat;
}

/*End Knight States*/

.actionBox{
    margin-top: -1em;
    height: 220px;
    align-self: center;
    background-color: rgba(255, 255, 255, .2);
    position: static;
}

.defeat{
    height: 500px;
    width: 460px;
    margin-top: -100em;
    margin-left: 700px;
    animation: 3s linear infinite blink;
    position: static;
}

.victory{
    height: 500px;
    width: 660px;
    margin-top: -60em;
    margin-left: 610px;;
    animation: 3s linear infinite blink;
    position: static;
}

/*======== Animations ========*/

@keyframes backAndForthOne {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes backAndForthTwo {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}

@keyframes blinkFull {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*=============================================*/
/*============================================= End of Fight Sequence =============================================*/

/*============================================= Beginning of Dungeon Crawler =============================================*/

#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
    margin-top: 100px;
    margin-left: 650px;
	height:760px;
	width:760px;
	padding: 0;
	border: none;
    position: static
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:2px solid #000;
	display:inline-block;
    background-color: rgba(0, 0, 0, .5);
    position: static;
}

.playerAvatarContainer{
    display: inherit;
    margin-top: -43em;
    margin-left: 30px;;
    position: static;
}

.playerIdle{
    height: 360px;
    width: 500px;
    background-image: url("/images/KnightOneStates/Knight%20Idle%20Trans.gif");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: 500px;
    position: static;
}

.playerStatusContainer{
    background-color: rgba(0,0,0,.6);
    padding-top: 1px;
    padding-bottom: 1px;
    outline-style:double;
    outline-width: thick;
    outline-color: rgba(255, 255, 255, .5);
    border-radius: 12px;
}

.playerHealthText{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-left: 40px;
}

.playerHealthOutline{
    outline-style: solid;
    outline-color: #dedede;
    outline-width: medium;
    margin-top: -3em;
    margin-bottom: 25px;
    margin-left: 220px;
    height: 20px;
    width: 50%;
    position: static;
}

.playerHealthDisplay{
    height: 20px;
    width: 100%;
    background-color: green;
}

.healthPotions{
    margin-top: 80px;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 12px;
}

.healthPotions:hover{
    background-color: rgba(169, 169, 169,.4);
    
}

.healthPotionIcon{
    height: 100px;
    width: 100px;
    margin-left: 1px;
    background-image: url("/images/Items/Health%20Potion.png");
    background-size: cover;
}

.potionCount{
    color: #dedede;
    font-family:monospace;
    font-size: 30px;
    font-weight: 400;
    margin-left: 32px;
    margin-top: 10px;
}