html, body{
    height: 99.6%;
    width: 99.9%;
}
body{
    background-image: url(/images/HomeScreen.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #dedede;
}

a:hover{
    color: grey;
}

img{
    margin-top: 10%;
    margin-left: 23%;
}

/*Classes*/

.logoContainer{
    height: 65%;
    width: 60%;
    background-color: rgba(0,0,0,.5);
    background-position: center;
}

/*Animations*/
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

