
body{
    background-image: url(/images/HomeScreen.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #dedede;
    text-align: center;
}

a{
    text-decoration: none;
    color: #dedede;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 20px;
    padding: 5px 40px 5px 40px;
    animation: 2s linear infinite blink;
    outline-style: solid;
}

a:hover{
    color: black;
}

img{
    margin-top: 15%;
    position: relative;
    height: 292px;
    width: 99%;
    margin-bottom: 20px;
}

button{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 20px;
    padding: 5px 40px 5px 40px;
    animation: 2s linear infinite blink;
    outline-style: solid;
    outline-color: black;
}

button:hover{
    color: #dedede;
    outline-style: solid;
    outline-color: white;
    background-color: black;
}

/*Classes*/

/*Animations*/
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

