body{
    background-image: url(../images/HomeScreen.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #dedede;
    text-align: center;
}

div{
    height: 200px;
    width: 600px;
    margin-left: 600px;
    margin-top: 600px;
    background-color: rgba(0,0,0,.5);
    border-radius: 32px;
    animation: 2s fadeIn;
    /*animation: 2s linear fadeOut;*/
}

button{
    margin-top: 20px;
    margin-left: 400px;
    background-color: rgba(0,0,0,.8);
    color: #dedede;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 20px;
    border-radius: 22px;
    height: 50px;
    width: 150px;
    animation: 5s fadeIn;
}

button:hover{
    margin-top: 20px;
    margin-left: 400px;
    background-color: rgba(255,255,255,.5);
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 20px;
    border-radius: 22px;
    height: 50px;
    width: 150px;
    animation: 3s linear infinite blink;
}

a{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 300px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    outline-style: solid;
    outline-width: thick;
    color: #dedede;
    background-color: rgba(0,0,0,.6);
}

a:hover{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-decoration: none;
    outline-style: solid;
    outline-width: thick;
    outline-color: black;
    color: black;
    background-color: rgba(255,255,255,.6);
}

span{
    margin-top: 10px;
}

.one{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 4s linear fadeIn;
    
}

.one2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 3s linear fadeOut;
    
}

.two{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 4s linear fadeIn;
    
}

.two2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 3s linear fadeOut;
    
}

.three{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    font-size: 24px;
    animation: 4s linear fadeIn;
    
}

.three2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    font-size: 24px;
    animation: 3s linear fadeOut;
    
}

.four{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 4s linear fadeIn;
    
}

.four2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 3s linear fadeOut;
    
}

.five{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 27px;
    font-size: 28px;
    animation: 4s linear fadeIn;
    
}

.five2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 27px;
    font-size: 28px;
    animation: 3s linear fadeOut;
    
}

.six{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 4s linear fadeIn;
    
}

.six2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    animation: 3s linear fadeOut;
    
}

.seven{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    font-size: 26px;
    animation: 4s linear fadeIn;
    
}

.seven2{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    padding: 20px;
    font-size: 26px;
    animation: 3s linear fadeOut;
    
}

/*Animations*/
@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}