html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  color: #dedede;
}

.HomePage, .Story{
  height: 100vh;
  width: 100vw;
  background-image: url(../images/HomeScreen.gif);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #dedede;
  text-align: center;
}

.HomePage-Contents-fadeOut {
  animation: 2s linear fadeOut;
}

.Story-Contents-Container-fadeIn {
  height: 30%;
  width: 50%;
  position: absolute;
  margin-top: 25%;
  margin-left: 25%;
  background-color: rgba(0,0,0,.6);
  background-attachment: inherit;
  border-radius: 32px;
  animation: 2s linear fadeIn;
}

.Story-Contents-Container-fadeOut {
  height: 30%;
  width: 50%;
  position: absolute;
  margin-top: 25%;
  margin-left: 25%;
  background-color: rgba(0,0,0,.6);
  background-attachment: inherit;
  border-radius: 32px;
  animation: 2s linear fadeOut;
}

.Story-Contents {
  margin-left: 1%;
  margin-right: 1%;
}

.Story-next-button-display{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 15px;
    margin-top: 42%;
    margin-left: 40%;
    padding: 0.5% 2% 0.5% 2%;
    animation: 5s linear fadeIn;
    outline-style: solid;
    outline-color: black;
}

.Story-next-button-hidden {
  display: none;
}

.Story-begin-button-display {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin-top: 42%;
  margin-left: 40%;
  padding: 0.5% 1% 0.5% 1%;
  text-decoration: none;
  outline-style: solid;
  outline-width: thick;
  color: #dedede;
  background-color: rgba(0,0,0,.6);
}

.Story-begin-button-hidden {
  display: none;
}

.HomePage-playButton:hover, .Story-next-button-display:hover, .Story-begin-button-display:hover {
  color: #dedede;
  outline-style: solid;
  outline-color: white;
  background-color: black;
}

.HomePage-Logo {
  margin-top: 15%;;
  width: 100%;
  margin-bottom: 20px;
}

.HomePage-playButton{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 1%;
    padding: 0.5% 2% 0.5% 2%;
    animation: 4s linear fadeIn;
    outline-style: solid;
    outline-color: black;
}

/*-------- END --------*/

/*======== Choose Character ========*/

.ChooseCharacter {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/ChooseClassCastle.gif);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #dedede;
  font-family: "Raleway", sans-serif;
}

.ChooseCharacter-characterList-header-container {
  height: auto;
  width: auto;
  background-color: rgba(0,0,0,.8);
  position: absolute;
  padding: 0.1% 8% 0.1% 8%;
  border-radius: 16px;
  border-style: double;
  border-color: rgba(255,255,255,.5);
  border-width: thick;
  margin-top: 1%;
  margin-left: 35%;
  font-weight: 800;
}

.ChooseCharacter-characterList-header {

}

.ChooseCharacter-characterList-container-container {
  height: 75vh;
  margin-right: 2%;
  float: right;
  padding: 2% 13% 2% 2%;
  background-color: rgba(0,0,0,.7);
  border-style: double;
  border-color: rgba(255,255,255,.5);
  border-width: thick;
  border-radius: 16px;
  overflow-y: scroll;
}

.ChooseCharacter-characterList-container {
}

.ChooseCharacter-characterList-contents {
  width: 150%;
}

.ChooseCharacter-characterList-contents-characters {
  height: 10%;
  min-width: 130%;
  display: block;
  background-color: #1a1a1a;
  margin: 5%;
  border-radius: 16px;
}

.ChooseCharacter-characterList-contents-characters:hover {
  cursor: pointer;
  background-color: #404040;
}

.ChooseCharacter-characterList-contents-characters-text {
  padding: 3% 10% 3% 10%;
}

.ChooseCharacter-create-character-button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-shadow: none;
  background-color: #cc3300;
  color: #dedede;
  margin-left: 1%;
  border-radius: 16px;
  border-style: double;
  margin-top: 45%;
  margin-left: 72%;
  font-size: 20px;
  padding: 0.5% 3% 0.5% 3%;
  position: absolute;
}

.ChooseCharacter-create-character-button:hover {
  background-color: #ff4000;
}

.ChooseCharacter-play-button {
  position: absolute;
  margin-left: 42%;
  margin-top: 45%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-shadow: none;
  background-color: #cc3300;
  color: #dedede;
  border-radius: 32px;
  border-style: double;
  font-size: 40px;
  padding: 0.5% 4% 0.5% 4%;
  position: absolute;
}

.ChooseCharacter-play-button:hover {
  background-color: #ff4000;
}

.ChooseCharacter-contents-characters-label {
  color: #dedede;
}

/*-------- END --------*/

/*======== Create Character ========*/

.CreateCharacter-form {
  text-align: center;
}

label {
  color: black;
  font-family: "Raleway", sans-serif;
}

.CreateCharacter-input-name {
  height: 3vh;
  width: 80%;
  padding: 2%;
  border-color: black;
  border-width: thick;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

/*-------- END --------*/

/*======== Game ========*/

.Game {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/ForestPixelBG.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #dedede;
  font-family: "Raleway", sans-serif;
}

/*Knight*/
.Game-avatar-knight {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 5%;
  position: absolute;
  background-image: url(../images/knight/KnightOneStates/KnightIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Wizard*/
.Game-avatar-wizard {
  height: 48vh;
  width: 30%;
  top: 20%;
  left: 10%;
  position: absolute;
  background-image: url(../images/WizardStates/WizardIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Archer*/
.Game-avatar-archer {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/archer/ArcherStates/ArcherIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*-------- END --------*/

/*======== Inventory ========*/

.Inventory {
  height: 30vh;
  padding: 2%;
  overflow-y: scroll;
  border-style: double;
  border-color: black;
  border-width: thick;
}

.Inventory-contents-items-name {
  color: black;
  font-weight: 400;
}

/*-------- END --------*/

/*======== Fight ========*/

.Fight {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/ForestPixelBG.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #dedede;
  font-family: "Raleway", sans-serif;
}

.Fight-healthBars-container {
  height: 15vh;
  width: 99%;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  border-style: double;
  border-color: #dedede;
}

/*======== Fight: PLAYER ONE ========*/
.Fight-player-attacks-container {
  position: absolute;
  top: 25%;
}

/*Knight*/
.Fight-player-avatar-knight-idle {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/knight/KnightOneStates/KnightIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-player-avatar-knight-attack {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/knight/KnightOneStates/KnightAttack.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: 1s linear backAndForthOne;
}

.Fight-player-avatar-knight-die {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/knight/KnightOneStates/KnightDie.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Wizard*/
.Fight-player-avatar-wizard-idle {
  height: 48vh;
  width: 30%;
  top: 20%;
  left: 10%;
  position: absolute;
  background-image: url(../images/WizardStates/WizardIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-player-avatar-wizard-attack {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/WizardStates/WizardAttack.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-player-avatar-wizard-projectile {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/Effects/Fireball.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: 1s linear backAndForthOne;
}

.Fight-player-avatar-wizard-die {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/WizardStates/WizardDie.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Archer*/
.Fight-player-avatar-archer-idle {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/archer/ArcherStates/ArcherIdle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-player-avatar-archer-attack {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/archer/ArcherStates/ArcherAttack.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-player-avatar-archer-projectile {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/Effects/Arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: 1s linear backAndForthOne;
}

.Fight-player-avatar-archer-die {
  height: 42vh;
  width: 30%;
  top: 25%;
  left: 10%;
  position: absolute;
  background-image: url(../images/archer/ArcherStates/ArcherDies.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*======== Fight: ENEMY ========*/

.Fight-enemy-avatar-idle {
  height: 42vh;
  width: 25%;
  top: 25%;
  left: 60%;
  position: absolute;
  background-image: url(../images/knight/KnightTwoStates/Knight2Idle.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.Fight-enemy-avatar-attack {
  height: 48vh;
  width: 25%;
  top: 20%;
  left: 60%;
  position: absolute;
  background-image: url(../images/knight/KnightTwoStates/Knight2Attack.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: 1s linear backAndForthTwo;
}

.Fight-enemy-avatar-die {
  height: 49vh;
  width: 35%;
  top: 25%;
  left: 60%;
  position: absolute;
  background-image: url(../images/knight/KnightTwoStates/Knight2Die.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.back-to-game {
  position: absolute;
  top: 20%;
  left: 2%;
}

/*-------- END --------*/

/*Animations*/

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes backAndForthOne {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes backAndForthTwo {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-120%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0);
  }
}

/*-------- END --------*/

/*======== Reusable Assets: GRID ========*/

.Grid{
  display: flex;
  position: absolute;
  margin-top: 5%;
  margin-left: 50%;
  flex-direction: row;
  border-style: double;
  border-width: thick;
  border-color: rgba(255,255,255,0.5)
}

.cellEnemy {
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  background-color: red;
}

.cellBlank {
  height: 30px;
  width: 30px;
  border-style: solid;
  border-color: black;
  background-image: url(../images/Tiles/grass20.png)
}
/*-------- END --------*/

/*======== Reused Assets: MODAL ========*/

.simpleModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: .5s linear fadeIn;
}

.modalContent{
  border-radius: 12px;
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  height: 46%;
  width: 20%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  text-align: center;
}

.modalHeading {
  color: black;
}

.closeButton{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeButton:hover, .closeButton:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*-------- END --------*/
